@import "../../../../node_modules/@blueprintjs/core/lib/scss/variables";
@import "../../../app/scss/custom-variabels";

.navbar {
  display: inline-block;
  position: fixed;
  bottom: 0;
  top: $pt-navbar-height;
  border-right: 1px solid rgba(17, 20, 24, 0.15);
  background: $pt-app-background-color;
  width: $menu-width;

  &__item {
    margin: $pt-grid-size;
  }

  &__menu {
    background: inherit !important;
  }
}
