@import "~@blueprintjs/core/lib/scss/variables";

.card {
  display: inline-block;
  border-radius: $pt-grid-size !important;

  &__heading {
    margin-bottom: $pt-grid-size * 2;
  }

  &__title {
    margin: $pt-grid-size 0;
  }

  &__content {
    border-left: 2px #bdb8b8 solid;
    padding-left: $pt-grid-size;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__text {
    margin: 0;
  }
}
