@import "~@blueprintjs/core/lib/scss/variables";

.card {
  padding: 0 !important;

  &__image {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }

  &__desc{
    padding: $pt-grid-size * 2;
  }

  &__chapter {
    margin-bottom: $pt-grid-size;
  }
}
