@import "~@blueprintjs/core/lib/scss/variables";

.section {
  padding: $pt-grid-size;
  margin-bottom: $pt-grid-size * 4;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $pt-grid-size * 2;
  }
}
