@import "../../../node_modules/@blueprintjs/core/lib/scss/variables";

.slider {
  position: relative;

  &__image {
    width: 100%;
    height: 370px;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    right: 2%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: $pt-grid-size;
    padding: $pt-grid-size;
  }

  &__title {
    margin: 0;
  }
}
